@import url(http://fonts.googleapis.com/css?family=Lobster);





/*------------------------------------*\
    APPLICATION
\*------------------------------------*/
.top-bar{ position: fixed; 	z-index: 1; }
.top-bar li a{ cursor: pointer; }

.top-bar h1 { font-family: 'Lobster', cursive; }
.top-bar>ul .name h1 { width:2em;}
.top-bar > ul .name h1 a {
	font-size: 30px !important;
}

header{ padding:50px 0 0 0; }
#e-icon{ font-size: 2em; }





/*------------------------------------*\
    $ICONS STYLE
\*------------------------------------*/
i{
	font-style: normal; font-size:4em; line-height:100%;
	border:1px solid #ffffff; cursor: pointer;
	background-color: #F5F5F5;
	border-radius: 2px;
}
i:after { margin: 0 0 0 0.2em; }
i::before{ margin: 0 0.2em 0 0; }
i::before,i:after{ width:4em; }

i:hover{ border:1px solid #C6C6C6; box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
i:focus{ border-color:#2BA6CB; }

/* Specific style for icons -------- */
.bq-double-left::before,
.bq-double-right::after,
.bq-pointer-left::before,
.bq-pointer-right::after{ padding: 0 20px; }
.bq-pointer-double-left::before,
.bq-pointer-double-right::after{ padding: 0 10px; }

.arrow-up-right::after,
.ui-menu::after{ padding: 0 10px 0 0; }
.arrow-up::before{ padding: 0  10px 0 20px; }


.heart:after,
.tilde-light:after { padding: 0 10px 0 0; }
.tilde:after,
.bull:after,
.pipe:after { padding: 0 20px 0 10px; }
