/*------------------------------------*\
    CSS for symbol html icons
\*------------------------------------*/

/* No normalize.css & reset because base.css */




/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.icon{ font-style: normal; font-size:4em; line-height:100%; }
.icon:after{ margin: 0 0 0 0.2em; }
.icon:before{ margin: 0 0.2em 0 0; }





/* Blockquote ----------------- */
.bq-double-left:before  { content: "\201C"; }
.bq-double-right:after  { content: "\201D"; }
.bq-pointer-left:before        { content: "\2039"; }
.bq-pointer-right:after        { content: "\203A"; }
.bq-pointer-double-left:before { content: "\00AB"; }
.bq-pointer-double-right:after { content: "\00BB"; }
.bq-dash:before{ content: "\2014"; }

/* Arrow ---------------------- */
.arrow-right:after    { content: "\2192"; }
.arrow-up-right:after { content: "\2197"; }
.arrow-left:before    { content: "\2190"; }
.arrow-up:before      { content: "\2191"; }
.arrow-circle:after   { content: "\21BA"; }
.angle-right:after    { content: "\232A"; }
.angle-left:before    { content: "\2329"; }

/* Stars ---------------------- */
.star-black:after{ content: "\2605"; }
.star-white:after{ content: "\2606"; }

/* Geometric ------------------- */
.triangle-black:after{ content: "\25B8"; } /* &rtrif; */
.triangle-white:after{ content: "\25B9"; } /* &rtri;  */
.square-black:after{ content: "\25AA"; } /* &squf; */
.square-white:after{ content: "\25A1"; } /* &squ;  */
.infinite:after{ content: "\8734"; } /* &infin;  */

/* Web UI ---------------------- */
.ui-check:after{ content: "\2713"; }
.ui-cross:after{ content: "\2717"; }
.ui-add:after  { content: "\002B"; }

.ui-tilde:after { content: "\02DC"; } /* &tilde; */
.ui-tilde-light:after { content: "\223C"; } /* &sim; */
.ui-bull:after { content: "\2022"; } /* &bull; */
.ui-pipe:after { content: "\2758"; } /* &VerticalSeparator; */

.phone:after { content: "\260E"; } /* &phone; */
.email:after { content: "\9993"; } /*  */

.female:after { content: "\2640"; } /* &female; */
.male:after { content: "\2642"; } /* &male; */
.heart:after { content: "\2665"; } /* &hearts; */
