.m-clipboard {
  padding-top: 1em;
  position: fixed;
  bottom: -100px;
  height: 100px;
  width: 100%;
  @include single-transition();
  z-index: 100;


  &.is-active {
    bottom: 0px;
  }

  li {
    float: left;
    margin-right: 0.5em;
  }

  a {
    display: block;
    padding: 1em 2em;
    font-size: emCalc(18);
    background-color: rgba($white,.9);
    border-radius: $global-radius;
  }
}
