$cyan    : #158D9F;
$yellow  : #FDB813;
$magenta : #EB426A;


$gray        : #D1CCC3;
$black       : #6F6F6F;
$black-light : #696661;
$white       : #F8F8F8;

// We use these as default colors throughout
$primary-color  : $cyan;
$secondary-color: $magenta;
$alert-color    : #c60f13 !default;
$success-color  : #5da423 !default;