body {
    background: url("../images/background_paper.jpg") repeat fixed 0 0 #EBE9E7;
}
.footer-content{
    background: url("../images/background_footer.png") repeat-x scroll 0 0 transparent;
    padding: 2em 0 1em;
}

h1{
    text-shadow: 0 2px 0 #FCF9EE, 0 4px 0 rgba(0, 0, 0, 0.15);
    margin: 1em 0 !important;
}

h2{
    text-shadow: 0 1px 0 #FCF9EE, 0 2px 0 rgba(0, 0, 0, 0.15);
}

footer p,
.top-bar {
    text-shadow : 0 1px 0 rgba(0, 0, 0, 0.15);
}

code{
    background-color: #F8F8F8;
    border: 1px solid $gray;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
}
code {
    white-space: nowrap;
    color: $magenta;
}
pre > code {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    white-space: pre;
}
.highlight pre, pre {
    background-color: #F8F8F8;
    border: 1px solid $gray;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 0.5em 1em;
    margin: 0 0 1.5em;
}

.color-contrast{
    color: $gray;
}

.title-area{
    margin: 0;
    padding: 0 1em;
}

.title-area a{
    color: #ffffff;
    text-decoration: none;
}

a {
    color: $cyan;
    text-decoration: none;
    @include single-transition();
}

a:hover {
    color: $magenta;
}

hr {
    height:0px; border:0px;
    border-top: 3px dashed $gray;
    margin: 1em 0 2em;
}

.section-container {
    p + p {
        text-indent: 0;
    }
}