nav.m-clipboard
  ul
    li
      'Character
      =link_to '#', '', id: 'js-icon', class: 'clipboard', title: 'Icon of your choice'
    li
      'HTML
      =link_to '#', '', id: 'js-name', class: 'clipboard', title: 'Caracter Entity'
    li
      'CSS
      =link_to '#', '', id: 'js-hex', class: 'clipboard', title: 'Hexadecimal code'

    li
      'Class name
      =link_to '#', '', id: 'js-class', class: 'clipboard', title: 'Class name'

