.m-clipboard {
  background-color: rgba($black, 0.8);
  padding-top: 1em;
  position: fixed;
  bottom: 0px;
  height: 0px;
  width: 100%;
  transition: height 200ms ease-in-out;
  z-index: 100;
  text-align: center;
  color: $white;

  &.is-active {
    height: 100px;
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
    @extend %clearfix;
    li {
      float: left;
      margin-right: 0.5em;
      color: $gray;
    }
  }

  a {
    display: block;
    text-align: center;
    font-size: 1.1em;
    background-color: rgba($white,.9);
    padding: 1em 0.25em;
    text-decoration: none;
    color: $secondary-color;
  }
}
