.m-clipboard {
  padding-top: 1em;
  position: fixed;
  bottom: -130px;
  height: 130px;
  width: 100%;
  transition: height 200ms ease-in-out;
  z-index: 100;
  color: $white;

  &.is-active {
    bottom: 0px;
  }

  li {
    float: left;
    margin-right: 0.5em;
  }

  a {
    display: block;
    text-align: center;
    font-size: emCalc(18);
    background-color: rgba($white,.9);
    border-radius: $global-radius;
    padding: 1em 0em;
  }
}
