$icon-names: (
  angle-double-left          :'\201C',
  angle-double-right         :'\201D',
  angle-pointer-left         :'\2039',
  angle-pointer-right        :'\203A',
  angle-pointer-double-left  :'\00AB',
  angle-pointer-double-right :'\00BB',
  figure-dash                :'\2012',
  en-dash                    :'\2013',
  em-dash                    :'\2014',
  arrow-right                :'\2192',
  arrow-up-right             :'\2197',
  arrow-up-right-big         :'\279A',
  arrow-left                 :'\2190',
  arrow-up                   :'\2191',
  arrow-down                 :'\2193',
  arrow-circle               :'\21BB',
  arrow-nav                  :'\27A4',
  arrow-download             :'\21E3',
  star                       :'\2605',
  star-o                     :'\2606',
  symbol-copy                :'\00A9',
  symbol-tm                  :'\2122',
  symbol-percent             :'\0025',
  triangle-up                :'\25B2',
  triangle-down              :'\25BC',
  triangle-right             :'\25BA',
  triangle-left              :'\25C4',
  triangle-black             :'\25B8',
  triangle-white             :'\25B9',
  infinite                   :'\221E',
  check                      :'\2713',
  check-big                  :'\2714',
  cross-light                :'\274C',
  cross                      :'\2717',
  cross-big                  :'\2718',
  cross-large                :'\2716',
  add                        :'\002B',
  add-big                    :'\271A',
  edit                       :'\270E',
  menu                       :'\2261',
  zoom-open                  :'\2922',
  zoom-open-invert           :'\2921',
  warning                    :'\26A0',
  checkbox-empty             :'\2610',
  checkbox-check             :'\2611',
  checkbox-cross             :'\2612',
  phone                      :'\2706',
  email                      :'\2709',
  female                     :'\2640',
  male                       :'\2642',
  heart                      :'\2665',
  smiley-good                :'\263A',
  smiley-black               :'\263B',
  smiley-bad                 :'\2639',
  tilde                      :'\02DC',
  tilde-light                :'\223C',
  bull                       :'\2022',
  sdot                       :'\22c5',
  pipe                       :'\2758',
  tri-right                  :'\2023',
  weather-sun                :'\263C',
  weather-thunder            :'\26A1'
);

%responsive-icon-base {
  font-size: 1em;
}

@each $name, $i in $icon-names {
  .ri-#{$name}:after {
    @extend %responsive-icon-base;
    content: $i;
  }
}
