.ri-list {
  list-style-type: none;
  @extend %clearfix;

  li {
    float: left;
    background-color: rgba($white, 0.2);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    padding: 2em;
    text-align: center;

    &:hover {
      color: $white;
      background-color: rgba($black, 0.8);
    }
  }
}

.ri {
  font-style: normal;
  font-size: 2.5em;
  width: 44px;
  height: 44px;
  display: block;
}
