body {
  font-family: $body-font-family;
}

h1, h2, h3 {
  color: $white;
  font-weight: $font-weight-light;
  text-shadow: 0px 2px 0px rgba($black, 0.4)
}

hr {
  border: solid rgba($gray,0.4);
  border-width: 1px 0 0;
  clear: both;
  margin: 1em 0;
  height: 0;
}
